<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Show Data</title>
</head>
<body>
<div class="container">
    <div class="row bg-dark align-items-center p-2">
        <div class="col-11 align-self-start text-light">
            <b th:text="${me.name}"/> with roles:
            <span th:each="role : ${me.getAuthorities()}">
                <span th:text="${role}"></span></span>
        </div>
        <a href="/logout" class="col-1 align-self-end text-light text-muted">Logout</a>
    </div>

    <div class="row pt-3">

        <ul class="col-2 list-group">
            <a href="/admin">
                <li class="list-group-item active">Admin</li>
            </a>
            <a href="/user">
                <li class="list-group-item" style="border: none">User</li>
            </a>
        </ul>

        <div class="col-10 bg-light" style="height: 960px;">
            <h2>Admin panel</h2>
            <ul class="nav mb-3">
                <li class="nav-item bg-white pt-2 pl-3 pr-3 pb-2">
                    <a href="/admin" class="text-dark">Users table</a>
                </li>
                <li class="nav-item p-2"><a href="/admin/creation">New User</a></li>
            </ul>

            <h4>All user</h4>
            <div class="bg-white p-4">
                <table class="table table-striped">
                    <tr class="bg-white">
                        <th>ID</th>
                        <th>username</th>
                        <th>surname</th>
                        <th>role</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>

                    <tr th:each="user : ${all}">
                        <td th:text="${user.userId}"></td>
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.surname}"></td>
                        <td>
                            <div th:each="role : ${user.getAuthorities()}">
                                <span th:text="${role.getAuthority().substring(5)}"></span>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-primary edit-user" type="button" id="edit-user" data-toggle="modal"
                                    data-target="#myModal" th:data-userId="${user.userId}">Edit</button>
                        </td>
                        <td>
                            <button type="buton" class="btn btn-danger delete-user" id="delete-user" data-toggle="modal"
                                    data-target="#myModalDelete" th:data-userId="${user.userId}">Delete</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row justify-content-center">
                        <div class="form-group col-sm-6 text-center">
                            <label for="userIdEdit">Identifier</label>
                            <input type="text" id="userIdEdit" name="userIdEdit" readonly/>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="form-group col-sm-6 text-center">
                            <label for="nameEdit">Enter new login: </label>
                            <input type="text" id="nameEdit" name="nameEdit"/>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="form-group col-sm-6 text-center">
                            <label for="surnameEdit">Enter new surname: </label>
                            <input type="text" id="surnameEdit" name="surnameEdit"/>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="form-group col-sm-6 text-center">
                            <label for="passwordEdit">Enter new password: </label>
                            <input type="password" id="passwordEdit" name="passwordEdit"/>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="form-group col-sm-6 text-center">

                            <select th:field="*{roles}" size="2" class="form-control" id="roleSelect">
                                <option th:each="role : ${roles}"
                                        th:value="${role.getAuthority()}"
                                        th:text="${role.getAuthority()}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input class="btn btn-primary" type="submit" id="edit-save-button" value="Edit"/>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>




<div class="modal" id="myModalDelete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalDeleteLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row justify-content-center">
                        <div class="form-group col-sm-6 text-center">
                            <label for="userIdEdit">Identifier</label>
                            <input type="text" id="userIdDelete" name="userIdEdit" readonly/>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="form-group col-sm-6 text-center">
                            <label for="nameEdit">Enter new login: </label>
                            <input type="text" id="nameDelete" name="nameEdit"/>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="form-group col-sm-6 text-center">
                            <label for="surnameEdit">Enter new surname: </label>
                            <input type="text" id="surnameDelete" name="surnameEdit"/>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="form-group col-sm-6 text-center">
                            <label for="passwordEdit">Enter new password: </label>
                            <input type="password" id="passwordDelete" name="passwordEdit"/>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="form-group col-sm-6 text-center">

                            <select th:field="*{roles}" size="2" class="form-control" id="roleSelectDelete">
                                <option th:each="role : ${roles}"
                                        th:value="${role.getAuthority()}"
                                        th:text="${role.getAuthority()}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input class="btn btn-danger" type="submit" id="edit-delete-button" value="Delete"/>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>










<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" src="../static/main.js" th:src="@{/main.js}"></script>

 <script>

     $('#myModalDelete').on('shown.bs.modal', function (event) {
         let button = $(event.relatedTarget);
         let userId = button.data('userid');

         if (userId) {
             fetch('/api/update/' + userId)
                 .then(response => response.json())
                 .then(data => {
                     let modal = $(this);
                     modal.find('#userIdDelete').val(data.userId);
                     modal.find('#nameDelete').val(data.name);
                     modal.find('#surnameDelete').val(data.surname);
                     modal.find('#passwordDelete').val(data.password);


                     return fetch('/admin/delete/' + userId);
                 })
                 .then(response => response.json())
                 .then(deleteData => {
                     console.log(deleteData);
                 })
                 .catch(err => {
                     alert(err);
                 });
         }
     });

     $('#myModal').on('shown.bs.modal', function (event) {
         let button = $(event.relatedTarget);
         let userId = button.data('userid');

         if (userId) {
             fetch('/api/update/' + userId)
                 .then(response => response.json())
                 .then(data => {
                     let modal = $(this);
                     modal.find('#userIdEdit').val(data.userId);
                     modal.find('#nameEdit').val(data.name);
                     modal.find('#surnameEdit').val(data.surname);
                     modal.find('#passwordEdit').val(data.password);
                 })
                 .catch(err => {
                     alert(err);
                 });
         }
     });

     $('#edit-save-button').click(function() {
         let roleId = $('#roleSelect').val();
         let modal = $('#myModal');
         let user = {
             userId: modal.find('#userIdEdit').val(),
             name: modal.find('#nameEdit').val(),
             surname: modal.find('#surnameEdit').val(),
             password: modal.find('#passwordEdit').val(),
             role: {}
         };

         if (modal.find('#userIdEdit').val()) {
             user.userId = modal.find('#userIdEdit').val();
         }

         fetch('/api/update/' + roleId, {
             method: 'POST',
             headers: {
                 'Content-Type': 'application/json'
             },
             body: JSON.stringify(user)
         })
             .then(response => response.json())
             .then(() => {
                 location.reload();
             })
             .catch(err => {
                 alert(err);
             });

         modal.modal('hide');
     });









     $('#edit-save-button').click(function() {
         let roleId = $('#roleSelect').val();
         let modal = $('#myModal');
         let user = {
             userId: modal.find('#userIdEdit').val(),
             name: modal.find('#nameEdit').val(),
             surname: modal.find('#surnameEdit').val(),
             password: modal.find('#passwordEdit').val(),
             role: {}
         };

         if (modal.find('#userIdEdit').val()) {
             user.userId = modal.find('#userIdEdit').val();
         }

         fetch('/api/update/' + roleId, {
             method: 'POST',
             headers: {
                 'Content-Type': 'application/json'
             },
             body: JSON.stringify(user)
         })
             .then(response => response.json())
             .then(() => {
                 location.reload();
             })
             .catch(err => {
                 alert(err);
             });

         modal.modal('hide');
     });

 </script>

</body>
</html>