<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Show Data</title>
</head>
<body>
<div class="container">
    <div class="row bg-dark align-items-center p-2">
        <div class="col-11 align-self-start text-light">
            <b th:text="${me.name}"/> with roles:
            <span th:each="role : ${me.getAuthorities()}">
                <span th:text="${role.getAuthority().substring(5)}"></span></span>
        </div>
        <a href="/logout" class="col-1 align-self-end text-light text-muted">Logout</a>
    </div>

    <div class="row pt-3">

        <ul class="col-2 list-group">
            <a href="/admin">
                <li class="list-group-item active">Admin</li>
            </a>
            <a href="/user">
                <li class="list-group-item" style="border: none">User</li>
            </a>
        </ul>

        <div class="col-10 bg-light" style="height: 960px;">
            <h4>Add new user</h4>
            <ul class="nav mb-3">
                <li class="nav-item pt-2 pl-3 pr-3 pb-2 ">
                    <a href="/admin" class="text-primary">Users table</a>
                </li>
                <li class="nav-item bg-white pt-2 pl-3 pr-3 pb-2">New User</li>
            </ul>

            <h4>Add new User</h4>
            <div class="bg-white p-4 ">
                <form class="mb-3" th:method="POST" th:action="@{/admin/creation}" th:object="${user}">
                    <div class="row justify-content-center">
                        <div class="form-group col-sm-6 text-center">
                            <label for="name"><b>First and Last name</b></label>
                            <input class="form-control" type="text" th:field="*{name}" id="name" required/>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="form-group col-sm-6 text-center">
                            <label for="surname"><b>Login</b></label>
                            <input class="form-control" style="background-color: #F0E68C" type="text"
                                   th:field="*{surname}" id="surname" required/>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="form-group col-sm-6 text-center">
                            <label for="password"><b>Password</b></label>
                            <input class="form-control" style="background-color: #F0E68C" type="password"
                                   th:field="*{password}" id="password" required/>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="form-group col-sm-6 text-center">
                            <label for="roles"><b>Role</b></label>
                            <select th:field="*{roles}" size="2" class="form-control" id="roles" multiple>
                                <option th:each="role : ${roles}"
                                        th:value="${role.getRoleId()}"
                                        th:text="${role.getAuthority().substring(5)}">
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <input type="submit" class="btn btn-success" value="Add new user"/>
                    </div>
                </form>

            </div>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                    crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                    crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                    crossorigin="anonymous"></script>

</body>
</html>